input, button{
  font-family: 'Spicy Rice', cursive;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* color:rgb(228, 110, 110); */
  color:#eceaeabe;
  opacity: .7; /* Firefox */
}

input{
  letter-spacing:.1em;
  background-color: #eceaea00;
  color: rgba(228, 110, 110, 0.719);
  border-radius: 8px;
  border-style:solid;
  border-color: #eceaea;
  padding: 10px, 5px;
  font-size: .8em;
}

button{
  letter-spacing:.1em;
  border-radius: 8px;
  font-size: .8em;
  text-align: center;
  color:rgb(228, 110, 110);
}

h1,h2,h3,h4,h5,h6, ul{
  letter-spacing:.1em;
  color:rgb(110, 228, 135);
  opacity: .7;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.things ul{
  align-items: flex-start;
}

.things.red ul{
  color:rgb(228, 110, 110);
}

.things.green ul{
  color:rgb(110, 228, 135);
}

.things ul{
  text-align: left;
}

.things ul span{
  float:right;
  display:none;
}

.things ul span.editable{
  display:block;
}

h4, h5, h6 {
  padding: 10px, 5px;
  /* margin-top:.4em; */
  margin: .2em;
  text-align: center;
}

.App {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Spicy Rice', cursive;
  color: #eceaeabe;
}

.start{
  min-width: 300px;
  width:50%;
  margin:auto;
}

.split{
  margin:auto;
}

.split > div{
  width:45%;
  display: inline-block;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.row *{
  display: flex;
  flex:1;
}

canvas{
  width:100%;

}
@media only screen and (max-width: 500px) {
  .row {
    flex-direction: column;
  }
  ul {
    padding: 5px;
    margin: 0px;
    font-size: .7em;
  }
}