input, button{
  font-family: 'Spicy Rice', cursive;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* color:rgb(228, 110, 110); */
  color:#eceaeabe;
  opacity: .7; /* Firefox */
}

input{
  letter-spacing:.1em;
  background-color: #eceaea00;
  color: white;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  /* color: rgba(228, 110, 110, 0.719); */
  border-radius: 8px;
  border-style:solid;
  border-color: #eceaea;
  padding: 10px, 5px;
  font-size: .8em;
}
textarea{
  letter-spacing:.1em;
  background-color: #eceaea00;
  color: white;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  /* color: rgba(228, 110, 110, 0.719); */
  border-radius: 8px;
  border-style:solid;
  border-color: #eceaea;
  padding: 10px, 5px;
  font-size: .8em;
}

button{
  letter-spacing:.1em;
  border-radius: 8px;
  font-size: .8em;
  text-align: center;
  color:rgb(230, 61, 61);
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
select{
  letter-spacing:.1em;
  border-radius: 8px;
  font-size: .8em;
  text-align: center;
  color:rgb(230, 61, 61);
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h1,h2,h3,h4,h5,h6, ul{
  letter-spacing:.1em;
  color:rgb(61, 230, 61);
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  opacity: .7;
}

.things ul{
  align-items: flex-start;
}

.things.red ul{
  color:rgb(230, 61, 61);
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.things.green ul{
  color:rgb(61, 230, 61);
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.things ul{
  text-align: left;
}

.things ul span{
  float:right;
  display:none;
}

.things ul span.editable{
  display:block;
}

h4, h5, h6 {
  padding: 10px, 5px;
  /* margin-top:.4em; */
  margin: .2em;
  text-align: center;
}

.App {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Spicy Rice', cursive;
  color: #eceaeabe;
  overflow: scroll;
  height: 100vh;
}

.start{
  min-width: 300px;
  width:50%;
  margin:auto;
}

.split{
  margin:auto;
}

.split > div{
  width:45%;
  display: inline-block;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.row *{
  display: flex;
  flex:1;
}

canvas{
  width:100%;

}
@media only screen and (max-width: 500px) {
  .row {
    flex-direction: column;
  }
  ul {
    padding: 5px;
    margin: 0px;
    font-size: .7em;
  }
}

.avatar_container{
  margin: auto;
  display: flex;
  border-radius: 50%;
  width: fit-content;
  background: linear-gradient(to top, rgba(255, 0, 0, 0) 0%,rgba(0, 255, 0, 0));
}
.avatar_container:hover{
  background: linear-gradient(to top, rgba(255, 0, 0, 1) 0%,rgba(0, 255, 0, 1))
}

.avatar{
  border-radius: 50%;
  filter: grayscale(1);
  opacity: 1;
  transition:opacity 1s;
}
.avatar:hover{
  opacity: .6;
}


.questionnaire .question:nth-child(odd){
    color:rgb(230, 61, 61);
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

.questionnaire{
  max-width: 600px;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.questionnaire .question:nth-child(even){
  color:rgb(61, 230, 61);
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .question p {
    color:white;
  }
  .question.answer {
    flex-direction: row;
  }
  .question.answer label {
    display: flex;
    align-items: center;
  }